<div align="center">
<h2>All Topics</h2>
</div>
<div class="col-md-8">
  <% @topics.each do |topic| %>
    <h4><p><%= link_to topic.title, topic %></p></h4>
  <% end %>
</div>
<div align="left">
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
</div>
