<div class="row">
  <div class="col-md-4">
    <h1>New Topic</h1>
    <p>Guidelines for topics</p>
    <ul>
      <li>Guideline 1.</li>
      <li>Guideline 2.</li>
      <li>Guideline 3.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'topics/form' %>
  </div>
</div>
